.container {
	width: 700px;
}

body {
	background: #cff;
}

header {
	padding-top: 30px;
}

header img {
	padding: 1em;
	background: #fff;
	margin-left: 60px;
}

section {
	margin-top: 1em;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 120%;
	padding: 50px;
	background: #fff;
}

section h1 {
	font-size: 200%;
}

a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

a:visited {
	color: #069;
}

nav {
	float: right;
}

nav {
	background-color: white;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.3em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
	font-size: 15px;
}

nav ul li a:visited {
	color: #09c;
}

nav ul li a:hover {
	text-decoration: underline;
}

.round {
	-moz-border-radius:
	10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}