<!-- <header class="navbar navbar-fixed-top navbar-inverse">
	<div class="containter">
	<%= link_to "sample app", root_path, id: "logo" %>
	<nav>
	<ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path %></li>
     	<li><%= link_to "Help", help_path%></li>
     	<li><%= link_to "Login", login_path%></li>
    </ul>
    </nav>
    </div>
</header> -->
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->