<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ruby on Rails Tutorial Sample App | Contact</title>
</head>
<body>
	Contact Ruby on Rails Tutorial about the sample app at the <a style="text-decoration:none" href="http://railstutorial.org/feedback">feedback page</a>.
</body>
</html>