<% provide(:title, "Help") %>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><% yield(:title) %></title>
</head>
<body>
<h1>Help</h1>
<p>
Get help on Ruby on Rails Tutorial at the <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
To get help on this sample app, see the <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
If you need help, please follow <a href="http://rubyonrails.org/community/"> Ruby on Rails community</a>
</p>
</body>
</html>