<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ruby on Rails Tutorial Sample Apps | Help</title>
</head>
<body>
	If you need help, please follow <a style="text-decoration:none" href="http://rubyonrails.org/community/"> Ruby on Rails community</a>
</body>
</html>